<header class="nav-down">
  <div id="headerWrapper">
    <div id="logoWrapper">
      <a href="http://www.mercuryinsurance.com/" onkeypress="keyboardCheck(event, true)" tabindex="0">
        <img class="printLogo" src="assets/styles/images/print_logo_mercury.svg" alt="Mercury Insurance Company logo"
             tabindex="-1">
        <img class="screenLogo" src="assets/styles/images/mi-logo-web.svg" alt="Mercury Insurance Company logo"
             tabindex="-1">
      </a>
    </div>
    <div id="headerContent"></div>
  </div>
  <div id="needHelpTab">
    <div>
				<span role="button" tabindex="0"><img src="assets/styles/images/icon-user.svg" alt="User Help Icon">Help</span>
    </div>
  </div>
<!--  <div id="needHelpWrapper" class="row one">-->
<!--    <div class="rowWrapper">-->
<!--      <div id="contactInfo">-->
<!--        <h1 class="callAgent">-->
<!--          &lt;!&ndash; tel icon injected &ndash;&gt;-->
<!--          <span></span>-->
<!--          &lt;!&ndash; Mercury or agent phone number injected &ndash;&gt;-->
<!--          <div class="tollFree">Call-->
<!--            <div></div>-->
<!--          </div>-->
<!--        </h1>-->
<!--        &lt;!&ndash; Quote number injected &ndash;&gt;-->
<!--        <h4>Quote ID:-->
<!--          <div></div>-->
<!--        </h4>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</header>
